
@font-face {
    font-family: 'AnaKalandadze';
    src: url("../assets/fonts/AnaKalandadze.ttf") format('truetype');;
    unicode-range: U+0000-00FF, U+10A0-10FF;
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: white;
}
